<!DOCTYPE html>
<html lang="en">

<head>
  <title>Success</title>
  <%- include('../partials/head') %>
</head>

<body>

  <main class="main-wrapper">

    <%- include('../partials/nav'); %>

    <header>
      <h1>Upload complete!</h1>
      Using Node, Express and Multer to upload and display images.
    </header>
    
    <section>

      <p>The image '<%= originalname %>' (<%= size / 1000 %> kb) was uploaded successfully and saved to your uploads folder.</p>
      
      <p><a href="/">Upload again</a></p>

      <img src="<%= imgPath + filename %>" class="latest-photo">

      <ul class="photo-container">
        <% files.forEach(file => { %>
        <li><img src="<%= imgPath + file %>" class="photo"></li>
        <% }); %>
      </ul>

    </section>

    <%- include('../partials/footer'); %>

  </main>

</body>

</html>